body,
html {
  height: 100%;
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr 50px;
  
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;  
  padding: 10px;
}

.centered {
  justify-content: center;
}

.right-aligned {
  justify-content: flex-end;
}

.top-right {
  justify-content: flex-end;
  align-items: flex-start; /* Adjust if you want the text vertically centered */
  padding-right: 10px;
}

.top-left {
  justify-content: flex-start;
  align-items: flex-end; /* Adjust if you want the text vertically centered */
  padding-left: 10px; /* Corrected from padding-right to padding-left */
}

.burger-menu {
    cursor: pointer;
  }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#settings-form label {
  grid-column: 1;
}

#settings-form input {
  grid-column: 2;
}