body,
html {
  height: 100%;
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centers items vertically in the container */
  padding: 0 20px; /* Add some padding on both sides */
}

.headerText {
  flex-grow: 1;
  text-align: center;
}

.footerText {   
  text-align: center;
}

.burger-menu-div {
  /* If you need the burger menu to be on the extreme right */
  margin-left: auto;
}


.burger-menu {
  font-size: 14px; 
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* flex-start, center, flex-end */
  align-items: center; /* flex-start, center, flex-end */
  height: 100%; /* This ensures the div takes up the full height of its parent */    
  margin: 0px 0px 0px 0px;
}

.blur{

border-radius: 20px;  
background: rgba(211, 211, 211, 0.3);   
backdrop-filter: blur(10px);  
padding: 20px;
}

/* 

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tabs {
  margin-bottom: 20px;
}

.tab-link {
  background: #ddd;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.tab-link.active {
  background: #aaa;
}

.tab-content.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
} */

/* #submitSection {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
 */
